<!-- templates/history.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>
<body>
    <!-- include the navigation bar -->
    {% include 'navbar.html' %}

    <h1>History Page</h1>

    <!-- Display the history for each person -->
    {% for person, hist in data.items() %}
        <h2>{{ person }}</h2>
        
        <!-- Display image -->
        <img src="{{ url_for('static', filename=hist['image_path']) }}" alt="{{ person }}" class="small-image">

        <!-- Display description -->
        <p>{{ hist['text'] }}</p>

    {% endfor %}

  
</body>
</html>
