<!-- templates/resources.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources Page</title>
</head>
<body>
    <h1>Resources Page</h1>
    <!-- Add content here -->

    <!-- Buttons to navigate to other pages -->
    <a href="{{ url_for('index') }}"><button>Home</button></a>
    <a href="{{ url_for('history') }}"><button>History</button></a>
    <a href="{{ url_for('user_story') }}"><button>User Story</button></a>
</body>
</html>
